################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XlsToJson
/XlsToJson/bin
/XlsToJson/obj
/TestXlsToJson/bin/Release/net6.0
/TestXlsToJson/obj
/XlsToJson.sln.DotSettings.user
/XlsToJson.Test/obj
/XlsToJson.Test/bin/Debug/net6.0
/.vs/ProjectEvaluation
